<div class="buttons">
    <button
        class="button is-primary"
        hx-get="/clients/{{ client.id }}/users/{{ user.id }}/update_status"
        hx-target="#user-controls-w"
    >
        Update Status
    </button>

    <button
        class="button is-info"
        hx-get="/clients/{{ client.id }}/users/{{ user.id }}/update_role"
        hx-target="#user-controls-w"
    >
        Update Role
    </button>

    <button
        class="button is-warning"
        hx-get="/clients/{{ client.id }}/users/{{ user.id }}/reset_password"
        hx-target="#user-controls-w"
    >
        Reset Password
    </button>
</div>

{% if updated %}
  <div id="user-status-w" class="column is-one-third" hx-swap-oob="true">
    <p class="has-text-grey-dark"><strong>Status:</strong></p>
    {% if user.status == "active" %}
        <p><span class="tag is-success">Active</span></p>
    {% else %}
        <p><span class="tag">Inactive</span></p>
    {% endif %}
  </div>

  <div id="user-roles-w" class="column is-one-third" hx-swap-oob="true">
    <p class="has-text-grey-dark"><strong>Roles:</strong></p>
    {% for role in user.roles %}
        <p><span class="tag is-dark">{{ role }}</span></p>
    {% endfor %}
  </div>
{% endif %}
