SERVER_ADDRESS=127.0.0.1:11000
SERVER_PUBLIC_URL=https://my-app.com
HTTPS=0
FRONTEND_DIR=/path/to/frontend
API_URL=http://127.0.0.1:11001
JWT_SECRET=change-me
GA_TAG_ID=
AUTH_PUBLIC_BASE_URL=https://yaas-flashy-domain.com
AUTH_API_BASE_URL=https://yaas-flashy-domain.com
AUTH_CLIENT_ID=xxx
AUTH_CLIENT_SECRET=xxx
