{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/clients">Clients</a></li>
                <li class="is-active">
                    <a href="/clients/{{ client.id }}/edit" aria-current="page">Edit - {{+ client.name }}</a>
                </li>
            </ul>
        </nav>

        <h1 class="title">Edit - {{+ client.name }}</h1>

        <div class="columns">
            <div class="column is-half">
                {% include "widgets/edit_client_form.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
