DATABASE_URL=sqlite://db.sqlite3
JWT_SECRET=change-me
UPLOAD_DIR=/path/to/upload_dir
PORT=11001
GOOGLE_PROJECT_ID=google-cloud-project-id
GOOGLE_APPLICATION_CREDENTIALS=/path/to/google/credentials.json
